Ограничения дают вам настолько глубокий контроль над данными в ваших таблицах, насколько вы захотите. Если пользователь пытается сохранить в какой-либо колонке данные, которые попадают под ограничение, возникнет ошибка. Она возникнет даже если сохраняемое значение является значением по умолчанию.

1- NULL Ограничение не-null просто говорит, что колонка не должна содержать значение null
2- UNIQUE Ограничения уникальности дают уверенность в том, что данные, содержащиеся в колонке или группе колонок являются уникальными по отношению к другим строкам в той же таблице.
UNIQUE можно сделать для группы столбцов к примеру.
UNIQUE (name1, name2, name3)
Поля ограничения можно комбинировать просто указывая через пробел ограничения к определенному столбцу UNIQUE NOT NULL
